<!DOCTYPE html>
<html lang="en">
<head>
    <title> Parcel Tracking System</title>
     <script>
  $('document').ready(function(){
    $('#my-table').DataTable();
  });
</script>
</head>
<body style="padding:0px">
<div>
  <h1 class="log">Request Medicine</h1>
</div>
<hr> 
<div class="col-md-8 col-md-offset-2 center">
<table id="my-table" class="table">
    <thead>
      <tr>
        <th class="center">Staff Name</th>
        <th class="center">Medicine Name</th>
        <th class="center">Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
            <% @order_history.each do |o|  %>
              <tr>
                <td class="center" ><%= s=Staff.find_by(id:o.staff_id).staff_name %></td>
                <td class="center" ><%= o.med_name %></td>
                <td class="center" ><%= o.quantity %></td>
                <td ><li ><%= link_to "Discard", '/discard/'+o.id.to_s , method: :delete%></li></td>
              </tr>

            <% end %>    
    </tbody>
  </table>
  <p><%= link_to 'Print Requested Medicine', asset_path("Requested_Medicine.pdf", skip_pipeline: true), class: "btn btn-primary", :target => "_blank" %></p>
</div>
<%= link_to 'Back', '/manager_index'%>
</body>
</html>